@import url('https://fonts.cdnfonts.com/css/arial-mt');

@font-face {
    font-family: 'Consolas';
    src: url('./../fonts/Consolas.ttf') format("truetype");
    font-weight: 400;
    font-style: normal ;
}
@font-face {
    font-family: "Merriweather";
    src: url('./../fonts/Merriweather-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal ;
}
@font-face {
    font-family: 'OpenSans';
    src: url('./../fonts/OpenSans-Italic.ttf') format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./../fonts/Helvetica.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}


